:root {
    --primary-color:#FFFFFF;
    --secondary-color:#044E62;
    --third-color:#A6E0FF;
    --accent-color: #000000;
    --heading-font:"Roboto", Sans-serif;
    --texting-font:"PT Serif", Serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

p {
    font-family: var(--texting-font);
}

#course-title {
    display: block;
    background-color: var(--third-color);
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	font-size: 2rem;
	text-align: center;
}

.navigation ul {
    list-style-type: none;
}

.navigation {
    background-color: var(--secondary-color);
    margin: 0 auto;
    max-width: 800px
}

.navigation a{
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: overline;
}

.active {
	color: yellow;
}

@media (min-width: 640px) {
	nav ul {
		display: flex;
	}

nav ul li {
	flex: 1 0 auto; 

}}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.5rem;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
  grid-column: 1/3;
  font-size: 2rem;
  margin: .5rem;
  text-align: center;
}

h2 {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 0 0 0.5rem;
  padding: 0.5rem;
}

footer {
  align-items: center;
  font-size: 0.9rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);

}

p {
    margin: 0;
    text-align: center;
  }

img {
  width: 100%;
  height: auto;
  border: 1px solid rgb(0 0 0 / 30%);
  margin: .5rem;
}

.profile {
  width: 120px;
  height: auto;
  margin-right: 2rem
}

.card {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.card img {
    width: 150px;
    height: auto;
    border: 1px solid black;
}

.card p {
    padding: 1rem;
}

.about img{
    float: right;
}

.brazil {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}

.brazil h3 {
  grid-column: 1/3;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}
