:root {
    --primary-color: #00118F;
    --secondary-color: #FFDA1F;
    --background-color: #F2F2F8;
    --text-color1: #000000;
    --text-color2: #ffffff;
    --font-title: 'Roboto', sans-serif;
    --font-text: 'PT Serif', serif;
}

h1, h2, h3 {
    font-family: var(--font-title);
    color: var(--text-color);
}

p {
    font-family: var(--font-text);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color2);
    padding: 20px;
    text-align: center;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color2);
    padding: 10px;
    text-align: center;
}